<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="">
  <link rel="icon" type="image/png" href="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    FEASIBILITY OF IMPLEMENTING MINIMUM SET OF GUIDELINES FOR PREVENTION OF NCD RISKS IN WORKPLACES| NIMHANS | RESULT
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-kit.css?v=2.0.7" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!--<script src="js/ques_new.js"></script>-->

  <script type="text/javascript">
    $(document).ready(function(){
        
        /*localStorage.setItem('_macro_score', 1)
		localStorage.setItem('_macro_fasibility', 2)
        
        localStorage.setItem('_screening_score', 3)
		localStorage.setItem('_screening_fasibility', 4)
        
        localStorage.setItem('_system_score', 5)
		localStorage.setItem('_system_fasibility', 6)
        
        localStorage.setItem('_tobacco_score', 7)
		localStorage.setItem('_tobacco_fasibility', 8)
        
        localStorage.setItem('_alcohol_score', 9)
		localStorage.setItem('_alcohol_fasibility', 9)
        
        localStorage.setItem('_inactivity_score', 1)
		localStorage.setItem('_inactivity_fasibility', 1)
        
        localStorage.setItem('_diet_score', 2)
		localStorage.setItem('_diet_fasibility', 2)
        
        localStorage.setItem('_ow_score', 3)
		localStorage.setItem('_ow_fasibility', 3)
        
        localStorage.setItem('_sugar_score', 4)
		localStorage.setItem('_sugar_fasibility', 4)
        
        localStorage.setItem('_stress_score', 5)
		localStorage.setItem('_stress_fasibility', 5)
        
        localStorage.setItem('_mental_score', 6)
		localStorage.setItem('_mental_fasibility', 6)
        
        localStorage.setItem('_surv_score', 7)
		localStorage.setItem('_surv_fasibility', 7)
        
        localStorage.setItem('_sust_score', 8)
		localStorage.setItem('_sust_fasibility', 8)*/
        

        
        
        

      document.getElementById('macro_score').innerHTML = localStorage.getItem('_macro_score')
      document.getElementById('macro_fasibility').innerHTML = localStorage.getItem('_macro_fasibility')
        
        document.getElementById('screening_score').innerHTML = localStorage.getItem('_screening_score')
      document.getElementById('screening_fasibility').innerHTML = localStorage.getItem('_screening_fasibility')
        
        document.getElementById('system_score').innerHTML = localStorage.getItem('_system_score')
      document.getElementById('system_fasibility').innerHTML = localStorage.getItem('_system_fasibility')
        
        document.getElementById('tobacco_score').innerHTML = localStorage.getItem('_tobacco_score')
      document.getElementById('tobacco_fasibility').innerHTML = localStorage.getItem('_tobacco_fasibility')
        
        document.getElementById('alcohol_score').innerHTML = localStorage.getItem('_alcohol_score')
      document.getElementById('alcohol_fasibility').innerHTML = localStorage.getItem('_alcohol_fasibility')
        
        document.getElementById('inactivity_score').innerHTML = localStorage.getItem('_inactivity_score')
      document.getElementById('inactivity_fasibility').innerHTML = localStorage.getItem('_inactivity_fasibility')
        
        document.getElementById('diet_score').innerHTML = localStorage.getItem('_diet_score')
      document.getElementById('diet_fasibility').innerHTML = localStorage.getItem('_diet_fasibility')
        
        document.getElementById('ow_score').innerHTML = localStorage.getItem('_ow_score')
      document.getElementById('ow_fasibility').innerHTML = localStorage.getItem('_ow_fasibility')
        
        document.getElementById('sugar_score').innerHTML = localStorage.getItem('_sugar_score')
      document.getElementById('sugar_fasibility').innerHTML = localStorage.getItem('_sugar_fasibility')
        
        document.getElementById('stress_score').innerHTML = localStorage.getItem('_stress_score')
      document.getElementById('stress_fasibility').innerHTML = localStorage.getItem('_stress_fasibility')
        
        document.getElementById('mental_score').innerHTML = localStorage.getItem('_mental_score')
      document.getElementById('mental_fasibility').innerHTML = localStorage.getItem('_mental_fasibility')
        
        document.getElementById('surv_score').innerHTML = localStorage.getItem('_surv_score')
      document.getElementById('surv_fasibility').innerHTML = localStorage.getItem('_surv_fasibility')
        
        document.getElementById('sust_score').innerHTML = localStorage.getItem('_sust_score')
      document.getElementById('sust_fasibility').innerHTML = localStorage.getItem('_sust_fasibility')
        
    //localStorage.getItem('_ncdFeasibility_app_org_name')
      //var scoretable=localStorage.getItem('_ncdFeasibility_tablecontent')
      
     // alert(scores[i].Section)
           // alert(scores[i].score)
            //alert(scores[i].feasibility)
           // alert(scores[i].maxScore)
//alert(scores[i].questions)
        
      //document.getElementById('section').innerHTML = scoretable[0].section
        //alert(scoretable[0].section)
     //document.getElementById('section').innerHTML="<span style='color: #FBC02D; font-weight: 550;'>SYSTEMS AND SERVICE LEVEL INTERVENTIONS - SUSTAINABILITY </span>"
         // localStorage.getItem('_ncdFeasibility_tablecontent')
      //document.getElementById('symptoms_msg').innerHTML = localStorage.getItem('_stress_app_symptoms_msg')

    })  
  </script>
  
<style>
table, td, th {
  border: 1px solid pink;
}

table {
  width: 100%;
  border-collapse: collapse;
}
</style>

</head>

<body class="login-page sidebar-collapse">  
  
  <!-- <div class="page-header header-filter" style="background-image: url(''); background-size: cover; background-position: top center;"> -->
    <div class="container">

      <div id="" class="row" style="margin-top: 75px;">
        <div class="col-md-6 ml-auto mr-auto">
            
         <div class="card card-login">
            <div class="card-header card-header-rose text-center" style="padding-bottom: 30px;">
              <h4 class="card-title">ASSESSMENT RESULTS</h4>
              <!-- <p><strong>District and Taluk Selection</strong></p> -->
            </div>
            <div class="card-body" style="padding-top: 15px; padding-bottom: 15px;">
             
             <table>
                    <tr>
                        <th>
                            <center><p style="padding-left: 15px; font-size: 0.8em;">SECTION</p></center>
                        </th>
                        <th>
                            <center><p style="padding-left: 15px; font-size: 0.8em;">STATOMETER READING</p></center>
                        </th>
                        <th>
                            <center><p style="padding-left: 15px; font-size: 0.8em;">FEASOMETER READING</p></center>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <center><p style="font-size: 0.8em;">MACRO LEVEL INTERVENTIONS</p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="macro_score" style=" font-size: 0.8em;">12</span></p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="macro_fasibility" style=" font-size: 0.8em;">8</span></p></center>
                        </th>
                    </tr>
                     <tr>
                        <th>
                            <center><p style="font-size: 0.8em;">SITUATIONAL ASSESSMENT AND SCREENING</p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="screening_score" style=" font-size: 0.8em;">12</span></p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="screening_fasibility" style=" font-size: 0.8em;">8</span></p></center>
                        </th>
                    </tr>
                 
                    <tr>
                        <th>
                            <center><p style="font-size: 0.8em;">SYSTEMS AND SERVICE LEVEL INTERVENTIONS</p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="system_score" style=" font-size: 0.8em;">12</span></p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="system_fasibility" style=" font-size: 0.8em;">8</span></p></center>
                        </th>
                    </tr>
                    
                    <tr>
                        <th>
                            <center><p style="font-size: 0.8em;">INTERVENTIONS - TOBACCO USE</p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="tobacco_score" style=" font-size: 0.8em;">12</span></p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="tobacco_fasibility" style=" font-size: 0.8em;">8</span></p></center>
                        </th>
                    </tr>
                 
                    <tr>
                        <th>
                            <center><p style="font-size: 0.8em;">INTERVENTIONS - ALCOHOL USE</p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="alcohol_score" style=" font-size: 0.8em;">12</span></p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="alcohol_fasibility" style=" font-size: 0.8em;">8</span></p></center>
                        </th>
                    </tr>
                 
                    <tr>
                        <th>
                            <center><p style="font-size: 0.8em;">INTERVENTIONS - PHYSICAL INACTIVITY</p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="inactivity_score" style=" font-size: 0.8em;">12</span></p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="inactivity_fasibility" style=" font-size: 0.8em;">8</span></p></center>
                        </th>
                    </tr>
                 
                    <tr>
                        <th>
                            <center><p style="font-size: 0.8em;">INTERVENTIONS - HEALTHY DIET</p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="diet_score" style=" font-size: 0.8em;">12</span></p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="diet_fasibility" style=" font-size: 0.8em;">8</span></p></center>
                        </th>
                    </tr>
                 
                    <tr>
                        <th>
                            <center><p style="font-size: 0.8em;">INTERVENTIONS - OVERWEIGHT</p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="ow_score" style=" font-size: 0.8em;">12</span></p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="ow_fasibility" style=" font-size: 0.8em;">8</span></p></center>
                        </th>
                    </tr>
                 
                    <tr>
                        <th>
                            <center><p style="font-size: 0.8em;">INTERVENTIONS - BLOOD SUGAR, BP, CHOLESTROL</p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="sugar_score" style=" font-size: 0.8em;">12</span></p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="sugar_fasibility" style=" font-size: 0.8em;">8</span></p></center>
                        </th>
                    </tr>
                 
                    <tr>
                        <th>
                            <center><p style="font-size: 0.8em;">INTERVENTIONS - HARMFUL WORK STRESS</p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="stress_score" style=" font-size: 0.8em;">12</span></p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="stress_fasibility" style=" font-size: 0.8em;">8</span></p></center>
                        </th>
                    </tr>
                 
                    <tr>
                        <th>
                            <center><p style="font-size: 0.8em;">INTERVENTIONS - COMMON MENTAL DISORDERS</p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="mental_score" style=" font-size: 0.8em;">12</span></p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="mental_fasibility" style=" font-size: 0.8em;">8</span></p></center>
                        </th>
                    </tr>
                 
                    <tr>
                        <th>
                            <center><p style="font-size: 0.8em;">INTERVENTIONS - SURVEILLANCE</p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="surv_score" style=" font-size: 0.8em;">12</span></p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="surv_fasibility" style=" font-size: 0.8em;">8</span></p></center>
                        </th>
                    </tr>
                 
                    <tr>
                        <th>
                            <center><p style="font-size: 0.8em;">INTERVENTIONS - SUSTAINABILITY</p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="sust_score" style=" font-size: 0.8em;">12</span></p></center>
                        </th>
                        <th>
                            <center><p style="font-size: 0.8em;"><span id="sust_fasibility" style=" font-size: 0.8em;">8</span></p></center>
                        </th>
                    </tr>
                 
                 
                 
                 
                </table>
             </div>
             
          </div>
        
            
             <div class="row" style="margin-top: 15px; margin-bottom: 50px;">
        <div class="col-md-6 ml-auto mr-auto text-center">
          
            

         <br>
          <a href="/ncdhome">Go To Home</a>
          
        </div>
      </div>
        
            

        </div>
      </div>

      


    </div>
    
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
</body>

</html>
