<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="">
  <link rel="icon" type="image/png" href="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    PREVENTION OF NON COMMUNICABLE DISEASES IN WORK PLACES | NIMHANS | HOME
  </title>
 <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-kit.css?v=2.0.7" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
    
    <script type="text/javascript">   
    $(document).ready(function(){ 
        
        //document.getElementById('orglabel').style.display = 'none'
      //document.getElementById('organization').style.display = 'none'

     document.getElementById('selected_user').value=-1

        
    })
        
    function gotohome(){
        
        //document.getElementById('selected_org').value = document.getElementById('organization').value
        
        
        
        if(parseInt(document.getElementById('selected_user').value)==-1){
             alert("Please select whether you want to proceed as an Employee or a Health Manager")
        }
        
        if(parseInt(document.getElementById('selected_user').value)==0 || parseInt(document.getElementById('selected_user').value)==2){
           if(parseInt(document.getElementById('organization').value)==-1){
               alert("Please select the Organization you belong to before you proceed")
           }else{
               localStorage.setItem('_orgName', document.getElementById('organization').value) 
               localStorage.setItem('_user_type', document.getElementById('selected_user').value)
                window.location.href = '/ncdhome'
               //alert("Proceed as employee or health manager")
               
           }
        }
        else{
               //Do nothing
            //alert("Proceed as individual")
               
           }
           
        
        /*var xhttp = new XMLHttpRequest();
	    xhttp.onreadystatechange = function() {
	        if (this.readyState == 4 && this.status == 200) {
	          //console.log(this.responseText);
	          window.location.href = '/ncdhome'
	        }
	    };
	    xhttp.open("POST", "/add_ncdfeasibility_assessment", true);
	    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	    xhttp.send('data='+encodeURIComponent(JSON.stringify(data_payload)));

	    console.log(JSON.stringify(data_payload)) */
        
        //alert('user'+document.getElementById('selected_user').value)
        //alert('organization'+document.getElementById('organization').value)
    }
        
    function select_radio(id){

	document.getElementById('selected_user').value=-1
    var radio_element_0 = document.getElementById(0)
    //var radio_element_1 = document.getElementById(1)
    var radio_element_2 = document.getElementById(2)
    //var ele=document.getElementById(id)
    //ele.classList.remove("btn-rose")
    //radio_element.classList.add("btn-rose")


	//json_data.data[parseInt(qid)-1].selection_val = parseInt(element_id)
        
    
        if(parseInt(id)==0){
            radio_element_0.classList.add("btn-rose")
            //radio_element_1.classList.remove("btn-rose")
            radio_element_2.classList.remove("btn-rose")
        }
        
       /* if(parseInt(id)==1){
            radio_element_1.classList.add("btn-rose")
            radio_element_0.classList.remove("btn-rose")
            radio_element_2.classList.remove("btn-rose")
        }*/
        
        if(parseInt(id)==2){
            radio_element_2.classList.add("btn-rose")
           // radio_element_1.classList.remove("btn-rose")
            radio_element_0.classList.remove("btn-rose")
        }
        
      /*if(parseInt(id)==0 || parseInt(id)== 2){
          document.getElementById('orglabel').style.display = 'block'
          document.getElementById('organization').style.display = 'block'
      }*/
        
    /* if(parseInt(id)==1){
          document.getElementById('orglabel').style.display = 'none'
          document.getElementById('organization').style.display = 'none'
      }*/
      
        document.getElementById('selected_user').value = id
    
    // For question 18  if the selected option is Yes, go to the next question, else go to 20th question
	
    
   
    
    
    
}
    </script>

<body class="login-page sidebar-collapse">
  
    <input type="hidden" id="selected_user" name="selected_user" >
    <input type="hidden" id="selected_org" name="selected_org" >
    
    <div class="container">
      <div class="row" style="margin-top: 75px;">
        <div class="col-lg-6 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <!-- <form class="form" method="post" action="/login"> -->
              <div class="card-header card-header-amber text-center">
                <div class="social-line">
                  <img src="img/who.png" style="width: 75px;">
                  <img src="img/nimhans.png" style="width: 75px;">
                  <img src="img/cph.png" style="width: 75px;">
                </div>
                <h4 class="card-title" style="color:black">NCD-METER FOR WORKPLACES – TOOL KIT</h4>
              </div>
              
              
              <div class="card-body" style="padding-top: 15px; margin-left: 15px;">
                
                <!--<p style="font-weight: bold;">Greetings from NIMHANS!</p>-->
                <center><p style="font-weight: bold;">Non Communicable Diseases (NCDs) and NCD risk factors like tobacco, alcohol, physical inactivity , unhealthy diets , harmful work stress and mental disorders are emerging health concerns in workplaces.</p></center>
                <center><p style="font-weight: bold;">This tool kit (NCD-METER for workplaces) facilitates prevention and control of NCDs, NCD risk factors and common mental disorders in workplaces </p></center>
                <!--<p>Text to be added</p>
                <p>We invite you to participate in this research.</p>
                <p><b>The collected information will be used only for...text to be provided</b></p>-->
                <!--<p><b>Nowhere your identity or information provided by you will be revealed at any stage of the study.</b></p>-->

                <!-- <div class="form-check">
                  <input class="" type="checkbox" value="" id="">
                  <label class="" style="color: #000;">
                    I give my consent to be a participant of this study.<a href="#">(Read our policy here)</a>
                  </label>
                </div>

                <center><p>Please take the assessment only once</p></center> -->

                <!-- <center><button type="submit" class="btn btn-rose btn-link btn-wd btn-lg">Start Assessment</button></center> -->
                <center><button id="district_taluk_btn" class="btn btn-rose btn-raised" data-toggle="modal" data-target="#homeModal">Start Assessment</button></center>
                <br>
              </div>
              
              <!-- <div class="footer text-center">
                <a href="/home" class="btn btn-primary btn-link btn-wd btn-lg">Login</a>
              </div> -->
            <!-- </form> -->
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 50px;">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <!-- <p style="font-weight: bold;">DISTRICT LEVEL PREPAREDNESS AND PERFORMANCE FOR COVID-19 MANAGEMENT</p> -->
          <p style="font-size: 1em;">POWERED BY AKA LABS</p>
        </div>
      </div>
    </div>
    
  </div>

  <!-- Modal -->
  <div class="modal fade" id="homeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!--<center><h5 class="modal-title" id="exampleModalLabel">NCD-METER FOR WORKPLACES – TOOL KIT</h5></center>-->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
          
        <div class="modal-body">
        
          <center><p style="font-weight: bold">Please read information about NCDs, assessments, consent and privacy policy</p></center>
            <center><p><a href="/policy" target="_blank" style="font-weight: 400; text-align: center">HERE</a></p></center>
        <br>
          
            <p style="font-weight: bold"> I am:</p>
            
            <button class="btn btn-round" id="0" style="margin-bottom: 4px; white-space:normal" onclick="select_radio('0')"><b>An Employee – Participate in NCD & mental health screening as part of my Organization's Initiative</b></button>
            <!--<button class="btn btn-round" id="1" style="margin-bottom: 4px; white-space:normal"  onclick="select_radio('1')"><b>An Individual - Participate in NCD & mental health screening for self assessment</b></button>-->
            <button class="btn btn-round" id="2" style="margin-bottom: 4px; white-space:normal"  onclick="select_radio('2')"><b>A Health Manager - Implement NCD and mental health activities in my workplace </b></button>
            
                        <!--onclick="select_radio('{{y['qid']}}', '{{z['aid']}}') <select class="form-control" id="usertype" style="width: 100%;">
                        <option value="-1">Select</option>
                        <option value="1">An Employee who wants to assess my NCD risk factors</option>
                        <option value="2">An Organizational Rep. who wants to assess and prevent NCD risks at my Organization</option>
                        
                        </select>-->
         
        <br>
        <br>
          <p style="font-weight: bold" id="orglabel"> I belong to the organization:</p>
            
                        <select class="form-control" id="organization" style="width: 100%;">
                        <option value="-1">Select</option>
                        <option value="2">Test1</option>
                        <option value="3">Test2</option>
                        <option value="4">Test4</option>
                        
                        </select>
         <br>
            
        <!--<br>
          <p>By continuing you are giving consent to be a participant of this assessment/survey.</p>--> 
            
            <p style="font-weight: bold" id="orglabel"> If your organization name is not listed above, Please  <a href="/ncdOrgRegistration">CLICK HERE</a></p>
          
        </div>
        <div class="modal-footer">
          
            <button class="btn btn-rose btn-raised" style="" onclick="gotohome()">Continue ></button>
              <!--<button class="btn btn-rose btn-raised" style="" onclick="on_submit()">Submit</button>-->
          
        </div>
      </div>
    </div>
  </div>



  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
</body>

</html>
